
#textform {
    margin-bottom: 10px;
}

#main-page {
    height: 400px;
}

    /* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
    /*padding-bottom:60px;*/
    color: ghostwhite;
    margin-bottom: 0;
    text-transform: capitalize;
    font-family: monospace;
    letter-spacing: -2px;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-shadow: 2px 2px #ff0000;
}

.container {
    height: 100%;
}

.main-body {
    background: lightgrey;
    height: 100%;
}

.panel-body {
    height: 180px;
    box-shadow: 20px 80px 50px #888888;
}

#textform {
    width: 80%;
}

.panel-footer {
    font-style: italic;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: black;
    color:#9d9d9d;
    padding: 25px;
}

    /*button stuff*/
    /*----------------*/
button {
    background:#3e87ec;
    color: #fff;
    padding:3px 10px 3px 10px;
    border-radius:5px;
}
button:hover {
    background:#2d70ec;
    color: #fff;
    padding:3px 10px 3px 10px;
}

.btn {

}


/*button stuff end
-----------------*/

.modal-body {
    height:250px;
    width:100%;
}